{% assign itemAmount = persons | size %}
{% render 'partials/head.liquid'
  , title: 'FDND'
  , subtitle: 'Students' %}

<div class="wrapper">
  <ul class="list">
    {% for person in persons %}
      <li style="--item: {{forloop.index}}; --itemCount: {{itemAmount}}">
        <a href="/student/{{ person.id }}">{{ person.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% render 'partials/foot.liquid'
  , squads: squads %}