{% render 'partials/head.liquid'
  , title: 'FDND'
  , subtitle: 'Students' %}

<div class="wrapper">
  <ul>
    {% for person in persons %}
      <li style="--i: {{forloop.index}}">
        <a href="/student/{{ person.id }}">{{ person.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% render 'partials/foot.liquid'
  , squads: squads %}