.wrapper {
  position: absolute;
  overflow: clip;
  padding: 3rem 0;
  ul {
    position: relative;
    li {
      left: 101%;
      display: inline-block;
      position: absolute;
      color: var(--primary);
      font-family: var(--none);
      animation: slide-to-the-left 7s linear 1s infinite;
      a {
        color: inherit;
        text-decoration: none;
      }
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}
