.wrapper {
  position: absolute;
  overflow-x: hidden;
  /* padding top, wrote it this way in case I want to swap back to top & bottom later */
  padding: 3rem 0 0 0;
  /* styling in case of no javascript */
  ul {
    transform: translateX(100%);
    position: relative;
    height: 100%;
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    place-content: start;
    justify-content: start;
    gap: 1rem;
    
    li {
      --personalDistance: calc(-5vw * (var(--itemCount) - var(--item)));
      /* higher = slower */
      --animationSpeed: .4;
      --animationDuration: calc(1s * var(--itemCount) * var(--animationSpeed));
      display: inline-block;
      height: fit-content;
      color: var(--primary);
      font-family: var(--none);
      left: 0;
      animation: slide-to-the-left ease infinite;
      animation-duration: var(--animationDuration);
      animation-delay: calc(.7s * var(--item));
      /* Negate a bad UX/UI by changing the color of stacked li elements */
      mix-blend-mode: difference;
      &:hover {
        animation-play-state: paused;
        color: var(--highlight);
      }
      a {
        color: inherit;
      }
      
    }
    &.interaction li{
      /* Wonder if this is a good use-case? */
      /* https://developer.mozilla.org/en-US/docs/Web/CSS/will-change */
      will-change: transform;
      position: absolute;
    }
  }
}

/* Adjusted animation */
@keyframes slide-to-the-left {
  to {
    transform: translateX(calc(-100vw - 100% + var(--personalDistance)));
  }
}
